.data__table {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
	border-radius: 10px;
	box-shadow: 5px 0px 15px 0px #000000bf;
}

.data__table {
	font-size: 15px;
	text-align: center;
	color: #ffffff70;
	text-transform: capitalize;
	text-shadow: 0px 5px 2px #000000a2;
	margin-bottom: 50px;
}
